.intro-section {
    padding: 50px 0;
    height: 85vh;
    color: white;
    background: url(https://images.finncdn.no/dynamic/1280w/2017/6/vertical-2/07/2/971/806/12_2092668868.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.news-section {

}

.media {
	
}

.dropdown{

}

.list-group{

}

.mainheader{
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: bold;
  font-size: 60px;

  h2{
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 30px; 
  }
}




